In [12]:
import sqlite3

## Create a SQLite database in memory

In [14]:
conn = sqlite3.connect(':memory:')

In [15]:
cur = conn.cursor()

## Create the weather table

In [16]:
cur.execute('''CREATE TABLE Weather ( id INT, recordDate DATE, temperature INT )''')

## Insert data into the weather table

In [17]:
cur.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', [(1, '2015-01-01', 10), (2, '2015-01-02', 25), (3, '2015-01-03', 20), (4, '2015-01-04', 30)])

In [18]:
cur.execute('''SELECT w.id FROM Weather w WHERE w.temperature > (SELECT temperature FROM Weather WHERE recordDate = DATE(w.recordDate, '-1 day')) ''')

## Fetch and display the results

In [20]:
rows = cur.fetchall() 
for row in rows: print(row[0])

2
4

In [21]:
cur.close()

In [22]:
conn.close()

In [26]:
#SQL query: sql SELECT w.id FROM Weather w WHERE w.temperature > (SELECT temperature FROM Weather WHERE recordDate = DATE(w.recordDate, '-1 day'))